# Final Project Exploratory Data Analysis

#### Import pandas, matplotlib

In [101]:
import pandas as pd
import matplotlib.pyplot as plt

In [102]:
plt.rcParams['figure.figsize'] = (9, 8)
plt.rcParams['font.size'] = 12

In [103]:
ls data

NYPD_Complaint_Data_2018.csv

Original source file here https://data.cityofnewyork.us/Public-Safety/NYPD-Complaint-Data-Historic/qgea-i56i  I dropped several columns and only filtered down to records from 2018, in the interest of conserving CSV filesize.

#### Read in CSV file

In [104]:
nypd = pd.read_csv('data/NYPD_Complaint_Data_2018.csv')

Reference data dictionary [here](https://git.generalassemb.ly/gracepaet/nypd-complaints)

*Change this to a relative reference to a repo file*

Display all columns

In [105]:
pd.set_option('display.max_columns', None)

In [106]:
nypd.shape

(466295, 15)

In [107]:
nypd.index

RangeIndex(start=0, stop=466295, step=1)

In [108]:
nypd.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,OFNS_DESC,LAW_CAT_CD,BORO_NM,PREM_TYP_DESC,JURIS_DESC,SUSP_AGE_GROUP,SUSP_RACE,SUSP_SEX,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,CMPLNT_FR_DT_YEAR
0,774621657,2018-10-08,12:30:00,ROBBERY,FELONY,BRONX,BUS STOP,N.Y. POLICE DEPT,UNKNOWN,BLACK,M,<18,BLACK,M,2018
1,232548146,2018-08-24,11:00:00,PETIT LARCENY,MISDEMEANOR,BROOKLYN,RESIDENCE-HOUSE,N.Y. POLICE DEPT,NaN,NaN,NaN,45-64,WHITE,F,2018
2,452701517,2018-03-30,16:55:00,DANGEROUS WEAPONS,FELONY,QUEENS,STREET,N.Y. POLICE DEPT,NaN,NaN,NaN,UNKNOWN,UNKNOWN,E,2018
3,620357753,2018-10-02,16:00:00,PETIT LARCENY,MISDEMEANOR,QUEENS,STREET,N.Y. POLICE DEPT,NaN,NaN,NaN,65+,BLACK,M,2018
4,110535568,2018-08-14,14:20:00,MURDER & NON-NEGL. MANSLAUGHTER,FELONY,NaN,NaN,N.Y. POLICE DEPT,25-44,BLACK,M,45-64,BLACK,M,2018

In [109]:
nypd.columns

Index(['CMPLNT_NUM', 'CMPLNT_FR_DT', 'CMPLNT_FR_TM', 'OFNS_DESC', 'LAW_CAT_CD',
       'BORO_NM', 'PREM_TYP_DESC', 'JURIS_DESC', 'SUSP_AGE_GROUP', 'SUSP_RACE',
       'SUSP_SEX', 'VIC_AGE_GROUP', 'VIC_RACE', 'VIC_SEX',
       'CMPLNT_FR_DT_YEAR'],
      dtype='object')

In [110]:
nypd.dtypes

CMPLNT_NUM            int64
CMPLNT_FR_DT         object
CMPLNT_FR_TM         object
OFNS_DESC            object
LAW_CAT_CD           object
BORO_NM              object
PREM_TYP_DESC        object
JURIS_DESC           object
SUSP_AGE_GROUP       object
SUSP_RACE            object
SUSP_SEX             object
VIC_AGE_GROUP        object
VIC_RACE             object
VIC_SEX              object
CMPLNT_FR_DT_YEAR     int64
dtype: object

#### Confirm all records are from 2018

In [111]:
nypd.CMPLNT_FR_DT_YEAR.value_counts(dropna=False)

2018    466295
Name: CMPLNT_FR_DT_YEAR, dtype: int64

#### Drop CMPLNT_FR_DT_YEAR from dataframe

In [112]:
nypd.drop('CMPLNT_FR_DT_YEAR', inplace=True, axis=1)

## Exploring the dataframe

In [113]:
nypd.columns

Index(['CMPLNT_NUM', 'CMPLNT_FR_DT', 'CMPLNT_FR_TM', 'OFNS_DESC', 'LAW_CAT_CD',
       'BORO_NM', 'PREM_TYP_DESC', 'JURIS_DESC', 'SUSP_AGE_GROUP', 'SUSP_RACE',
       'SUSP_SEX', 'VIC_AGE_GROUP', 'VIC_RACE', 'VIC_SEX'],
      dtype='object')

In [114]:
nypd.dtypes

CMPLNT_NUM         int64
CMPLNT_FR_DT      object
CMPLNT_FR_TM      object
OFNS_DESC         object
LAW_CAT_CD        object
BORO_NM           object
PREM_TYP_DESC     object
JURIS_DESC        object
SUSP_AGE_GROUP    object
SUSP_RACE         object
SUSP_SEX          object
VIC_AGE_GROUP     object
VIC_RACE          object
VIC_SEX           object
dtype: object

In [115]:
nypd.describe

<bound method NDFrame.describe of         CMPLNT_NUM CMPLNT_FR_DT CMPLNT_FR_TM                        OFNS_DESC  \
0        774621657   2018-10-08     12:30:00                          ROBBERY
1        232548146   2018-08-24     11:00:00                    PETIT LARCENY
2        452701517   2018-03-30     16:55:00                DANGEROUS WEAPONS
3        620357753   2018-10-02     16:00:00                    PETIT LARCENY
4        110535568   2018-08-14     14:20:00  MURDER & NON-NEGL. MANSLAUGHTER
...            ...          ...          ...                              ...
466290   341791124   2018-12-11     20:00:00                    PETIT LARCENY
466291   791474790   2018-11-06     00:00:00                           FRAUDS
466292   584053940   2018-12-31     18:00:00   CRIMINAL MISCHIEF & RELATED OF
466293   495559106   2018-12-31     13:20:00          MISCELLANEOUS PENAL LAW
466294   782076755   2018-12-22     16:06:00                    HARRASSMENT 2

         LAW_CAT_CD   BORO_NM               PREM_TYP_DESC  \
0            FELONY     BRONX                    BUS STOP
1       MISDEMEANOR  BROOKLYN             RESIDENCE-HOUSE
2            FELONY    QUEENS                      STREET
3       MISDEMEANOR    QUEENS                      STREET
4            FELONY       NaN                         NaN
...             ...       ...                         ...
466290  MISDEMEANOR     BRONX  RESIDENCE - PUBLIC HOUSING
466291  MISDEMEANOR     BRONX  RESIDENCE - PUBLIC HOUSING
466292  MISDEMEANOR     BRONX  RESIDENCE - PUBLIC HOUSING
466293       FELONY     BRONX  RESIDENCE - PUBLIC HOUSING
466294    VIOLATION     BRONX  RESIDENCE - PUBLIC HOUSING

                 JURIS_DESC SUSP_AGE_GROUP       SUSP_RACE SUSP_SEX  \
0          N.Y. POLICE DEPT        UNKNOWN           BLACK        M
1          N.Y. POLICE DEPT            NaN             NaN      NaN
2          N.Y. POLICE DEPT            NaN             NaN      NaN
3          N.Y. POLICE DEPT            NaN             NaN      NaN
4          N.Y. POLICE DEPT          25-44           BLACK        M
...                     ...            ...             ...      ...
466290  N.Y. HOUSING POLICE            <18  BLACK HISPANIC        M
466291     N.Y. POLICE DEPT            NaN             NaN      NaN
466292  N.Y. HOUSING POLICE            NaN             NaN      NaN
466293  N.Y. HOUSING POLICE          25-44           BLACK        F
466294  N.Y. HOUSING POLICE          25-44  WHITE HISPANIC        M

       VIC_AGE_GROUP        VIC_RACE VIC_SEX
0                <18           BLACK       M
1              45-64           WHITE       F
2            UNKNOWN         UNKNOWN       E
3                65+           BLACK       M
4              45-64           BLACK       M
...              ...             ...     ...
466290         25-44  BLACK HISPANIC       F
466291           65+           BLACK       M
466292         45-64  BLACK HISPANIC       F
466293         25-44  BLACK HISPANIC       F
466294         18-24  WHITE HISPANIC       F

[466295 rows x 14 columns]>

In [116]:
nypd.OFNS_DESC.value_counts(dropna=False)

PETIT LARCENY                     87063
HARRASSMENT 2                     70627
ASSAULT 3 & RELATED OFFENSES      53323
CRIMINAL MISCHIEF & RELATED OF    47627
GRAND LARCENY                     44214
                                  ...
NEW YORK CITY HEALTH CODE             3
UNLAWFUL POSS. WEAP. ON SCHOOL        2
DISRUPTION OF A RELIGIOUS SERV        1
ABORTION                              1
HOMICIDE-NEGLIGENT-VEHICLE            1
Name: OFNS_DESC, Length: 61, dtype: int64

In [117]:
nypd.LAW_CAT_CD.value_counts(dropna=False)

MISDEMEANOR    252735
FELONY         142209
VIOLATION       71351
Name: LAW_CAT_CD, dtype: int64

In [118]:
nypd.JURIS_DESC.value_counts(dropna=False)

N.Y. POLICE DEPT                413192
N.Y. HOUSING POLICE              33506
N.Y. TRANSIT POLICE              12343
OTHER                             3122
PORT AUTHORITY                    2014
DEPT OF CORRECTIONS                943
TRI-BORO BRDG TUNNL                275
NYC PARKS                          266
HEALTH & HOSP CORP                 239
N.Y. STATE POLICE                  163
METRO NORTH                         79
N.Y. STATE PARKS                    41
NEW YORK CITY SHERIFF OFFICE        33
LONG ISLAND RAILRD                  29
STATN IS RAPID TRANS                17
U.S. PARK POLICE                    14
AMTRACK                             10
NYS DEPT TAX AND FINANCE             8
CONRAIL                              1
Name: JURIS_DESC, dtype: int64

In [119]:
nypd.BORO_NM.value_counts(dropna=False)

BROOKLYN         137426
MANHATTAN        115195
BRONX            101316
QUEENS            91055
STATEN ISLAND     20991
NaN                 312
Name: BORO_NM, dtype: int64

In [120]:
nypd.PREM_TYP_DESC.value_counts(dropna=False)

STREET                        127944
RESIDENCE - APT. HOUSE        104889
RESIDENCE-HOUSE                43991
RESIDENCE - PUBLIC HOUSING     33525
CHAIN STORE                    15168
                               ...
PHOTO/COPY                        44
CEMETERY                          41
LOAN COMPANY                      21
TRAMWAY                           10
HOMELESS SHELTER                   6
Name: PREM_TYP_DESC, Length: 74, dtype: int64

In [121]:
nypd.SUSP_SEX.value_counts(dropna=False)

M      212025
NaN    119399
U       69030
F       65841
Name: SUSP_SEX, dtype: int64

In [122]:
nypd.VIC_SEX.value_counts(dropna=False)

F    185201
M    160039
D     65773
E     55281
U         1
Name: VIC_SEX, dtype: int64

In [123]:
nypd.SUSP_AGE_GROUP.value_counts(dropna=False)

UNKNOWN    126810
NaN        119399
25-44      117279
45-64       44451
18-24       41938
<18         12437
65+          3948
2018           10
1018            3
928             2
952             1
-80             1
-941            1
924             1
-974            1
920             1
948             1
-939            1
-978            1
938             1
-63             1
1012            1
922             1
1967            1
954             1
1017            1
955             1
-2              1
Name: SUSP_AGE_GROUP, dtype: int64

In [124]:
nypd.VIC_AGE_GROUP.value_counts(dropna=False)

25-44      161564
UNKNOWN    132730
45-64       87168
18-24       45048
65+         20130
<18         19617
-1              2
-956            2
-974            2
936             1
-966            1
-51             1
-5              1
-55             1
-970            1
-3              1
-61             1
-948            1
965             1
929             1
-968            1
957             1
-76             1
-67             1
-59             1
-958            1
948             1
-43             1
-952            1
951             1
1017            1
-4              1
953             1
-940            1
954             1
-2              1
970             1
-972            1
-955            1
922             1
-962            1
Name: VIC_AGE_GROUP, dtype: int64

#### Checking for null values

In [125]:
print(nypd.shape)
nypd.isnull().sum()

(466295, 14)

CMPLNT_NUM             0
CMPLNT_FR_DT           0
CMPLNT_FR_TM           0
OFNS_DESC             14
LAW_CAT_CD             0
BORO_NM              312
PREM_TYP_DESC       1992
JURIS_DESC             0
SUSP_AGE_GROUP    119399
SUSP_RACE         119399
SUSP_SEX          119399
VIC_AGE_GROUP          0
VIC_RACE               0
VIC_SEX                0
dtype: int64

Will need to handle nulls in these fiels
* `OFNS_DESC`
* `BORO_NM`
* `PREM_TYP_DESC`
* `SUSP_AGE_GROUP`
* `SUSP_RACE`
* `SUSP_SEX`

25% of `SUSP_AGE_GROUP`, `SUSP_RACE`, and `SUSP_SEX` contain nulls!

#### Quick look at the dataframe to see what other cleaning I may have to do

In [126]:
nypd.head(5)

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,OFNS_DESC,LAW_CAT_CD,BORO_NM,PREM_TYP_DESC,JURIS_DESC,SUSP_AGE_GROUP,SUSP_RACE,SUSP_SEX,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,774621657,2018-10-08,12:30:00,ROBBERY,FELONY,BRONX,BUS STOP,N.Y. POLICE DEPT,UNKNOWN,BLACK,M,<18,BLACK,M
1,232548146,2018-08-24,11:00:00,PETIT LARCENY,MISDEMEANOR,BROOKLYN,RESIDENCE-HOUSE,N.Y. POLICE DEPT,NaN,NaN,NaN,45-64,WHITE,F
2,452701517,2018-03-30,16:55:00,DANGEROUS WEAPONS,FELONY,QUEENS,STREET,N.Y. POLICE DEPT,NaN,NaN,NaN,UNKNOWN,UNKNOWN,E
3,620357753,2018-10-02,16:00:00,PETIT LARCENY,MISDEMEANOR,QUEENS,STREET,N.Y. POLICE DEPT,NaN,NaN,NaN,65+,BLACK,M
4,110535568,2018-08-14,14:20:00,MURDER & NON-NEGL. MANSLAUGHTER,FELONY,NaN,NaN,N.Y. POLICE DEPT,25-44,BLACK,M,45-64,BLACK,M

In [127]:
nypd.dtypes

CMPLNT_NUM         int64
CMPLNT_FR_DT      object
CMPLNT_FR_TM      object
OFNS_DESC         object
LAW_CAT_CD        object
BORO_NM           object
PREM_TYP_DESC     object
JURIS_DESC        object
SUSP_AGE_GROUP    object
SUSP_RACE         object
SUSP_SEX          object
VIC_AGE_GROUP     object
VIC_RACE          object
VIC_SEX           object
dtype: object

In [128]:
# pd.DataFrame(nypd.SUSP_RACE.value_counts())
nypd.SUSP_RACE.value_counts().sort_index() # Sort by susp_race

AMERICAN INDIAN/ALASKAN NATIVE      1170
ASIAN / PACIFIC ISLANDER           13132
BLACK                             131560
BLACK HISPANIC                     19375
UNKNOWN                            83750
WHITE                              35922
WHITE HISPANIC                     61987
Name: SUSP_RACE, dtype: int64

In [129]:
# Filtering
# nypd[nypd['SUSP_RACE'] == 'WHITE HISPANIC']

# Filtering the dataframe for all records where the susp_race is white hispanic, show the 
# vic_race and do value counts 
pd.DataFrame(nypd[nypd['SUSP_RACE'] == 'WHITE HISPANIC']['VIC_RACE'].value_counts())

                                VIC_RACE
WHITE HISPANIC                     26234
UNKNOWN                            19811
BLACK                               5765
WHITE                               5118
BLACK HISPANIC                      2802
ASIAN / PACIFIC ISLANDER            2123
AMERICAN INDIAN/ALASKAN NATIVE       134

## Cleaning and Data Prep needed

* Set new index (TBD)
* Handle nulls in these fields
 * `OFNS_DESC`
 * `BORO_NM`
 * `PREM_TYPE_DESC`
 * `SUSP_AGE_GROUP`
 * `SUSP_RACE`
 * `SUSP_SEX`
* Convert these fields to Timestamp
 * `CMPLNT_FR_DT`
 * `CMPLNT_FR_TM`
* Remove duplicate rows -- *First pass completed. Dirty data may still exist, however*



Optional
* Combine `CMPLNT_FR_DT` and `CMPLNT_FR_TM` into one field
* Create month, week, day, day of week columns for `CMPLNT_FR_DT`
* Create hour column for `CMPLNT_FR_TM`

## Framing the problem

* Start *framing* the problem -- This is Step 1 of the Data Science Workflow

 * Make a list of **what you know**
 * Make a list of **what you don't know**
 * Make a list of possible problem statements
   * Try to come up with *5-10* of them if possible
   * You will decide on which ones to explore later, but for now brainstorm as much as you can.
   

#### What I know
* All complaints are from 2018
* Complaints are timestamped and we have the level of detail down to month, day, year, hour, minute
* `OFNS_DESC` is an important field that tells us what each complaint was
* Each offense occurs within a borough of NYC, defined as `BORO_NM`
* Complaints are categorized under `LAW_CAT_CD` as either a felony, misdemeanor, or violation
* Different jurisdictions are responsible for handling each complaint. The police department is not responsible for all complaints
* Victim and suspect demo (age, sex, race) may be available for each offense



#### What I don't know
* The most popular or highest volume of offenses overall in 2018
* Seasonal trends, if any, in offenses
* Other time-based trends in offenses, down to month, day of the week, and hour of the day
* If some boroughs in New York City have more complaints than other boroughs
* If certain types of offenses are more prevalent in some boroughs versus others
* Which offenses are deemed a felony vs. misdemeanor vs. violation
* What complaints is each jurisdiction primarily responsible for handling
* If there’s a relationship between victim demo and suspect demo


#### Possible problem statements
1. More crimes occur during the warmer months of the year
- Criminal activity is more common during times of the day when there are more people around or active, i.e. commute times, meal times. Criminal activity is also more likely to occur when suspects believe they won’t be seen or caught, i.e. late night
- Racial bias may exist, with victims having a tendency to file complaints against specific races
- Criminal activity in NYC aligns with known correlations of [criminal behavior](https://en.wikipedia.org/wiki/Statistical_correlations_of_criminal_behaviour#Gender_and_biology) **
- Each borough of NYC has roughly the same volume of complaints as other boroughs, when comparing per capita

<font size=1.5>** Crime occurs most frequently during the second and third decades of life. Males commit more crime overall and more violent crime than females. They commit more property crime except shoplifting, which is about equally distributed between the genders.</font>